@import 'tailwindcss';

@tailwind utilities;

@layer components {
  .btn-primary {
    @apply rounded-xl border-2 border-green-700 bg-green-700 p-2 font-bold text-white hover:cursor-pointer hover:bg-white hover:text-green-700 disabled:cursor-not-allowed disabled:bg-gray-500;
  }
}

@theme {
  --color-primary-dark: rgb(0, 0, 0);
  --color-primary-light: rgb(255, 255, 255);
  --color-secondary-dark: rgb(25, 25, 25);
  --color-secondary-light: rgb(2430, 230, 230);
}
